header {
  height: 80px;
  width: 100%;
  // background-color: white;
  // display: flex;
  // align-items: center;
  // color: $primary_color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .logo-bool {
    // flex-basis: 30%;
    padding: 0 30px;

    img {
      width: $width_logo;
    }
  }

  // nav{
  //   ul {
  //     li {
  //       display: inline-block;
  //
  //       a {
  //         text-decoration: none;
  //         text-transform: uppercase;
  //         padding: 20px 23px;
  //         font-weight: 500;
  //
  //         &:hover {
  //           color: $secondary_color;
  //         }
  //       }
  //     }
  //   }
  // }
}
