* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #1b3c59;
  position: fixed;
  top: 0;
  left: 0;
}

header .logo {
  flex-basis: 30%;
  padding: 0 30px;
}

header .logo img {
  width: 200px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 23px;
  font-weight: 500;
}

header nav ul li a:hover {
  color: #61cf4e;
}

