* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 200px;

  .logo {
    img {
      width: 100px;
    }
  }

  nav{
    ul {
      li {
        display: inline-block;
      }
    }
  }
}
